<h1> My Bookings</h1>
    <% if @bookings.any? %>
      <ul>
        <% bookings.each do |booking| %>
          <li>
            <%= booking.chef_id %> - <%= booking.start_date %> at <%= booking.end_date %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No upcoming bookings.</p>
    <% end %>

<p>
<%= link_to "Create New Booking", bookings_path %>
</p>
<p>Find me in app/views/bookings/index.html.erb</p>



