<h1> My Bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li><%= link_to booking.created_at, bookings_index_path(booking) %></li>
  <% end %>
</ul>

<p>
<%= link_to "Create New Booking", bookings_create_path %>
</p>
<p>Find me in app/views/bookings/index.html.erb</p>
