<%# starting the iteration to display all the chefs onto the home page directly similar to airbnb %>
<%# WIP %>

  <div>
  <% @instancedvariable.method.each do |chef| %>
    <div class="form-iteration">
    <%= chef.method %> - <%= chef.bio %>
    <br>
    </div>

  <% end %>
  
</div>
