<!DOCTYPE html>
<html>
  <head>
    <title>Chef Chez Vous !</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
  </head>
  <body>
    <header>
      <!-- Logo here ? -->
      <h1>The chef booking service</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Find My Chefs</a></li>
          <li><a href="/">My Bookings</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="intro">
        <h2>Welcome to Chef Chez Vous</h2>
        <p>Find a chef! Book them! Enjoy the good!</p>
        <a href="/" class="cta-button">Browse the Chefs</a>
      </section>

    </main>

    <footer>
      <p>&copy; 2024 Chef Chez Vous. All rights reserved.</p>
    </footer>
  </body>
</html>
