<!DOCTYPE html>
<html>

<head>
  <title>Chef Chez Vous !</title>
  <script src="script.js"></script>
</head>
<body>
  <main>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.sudouest.fr/13349336/1000x500/m6-0057633-0008.jpg?v=1670842498);">

      <div class="container">
        <h1>Welcome to Chef chez Vous!</h1>
        <p>Booking your own private chef has never been so easy.</p>
      </div>
    </div>

    <%# Container for the featured chefs section %>
    <div class="container my-4">
      <h2 class="text-left">Chefs in the spotlight</h2>
    </div>

    <%# Container for the chefs that will be updated with infinite scrolling %>
    <div class="container" id="chefs-container">
      <%# Rendering the partial to display chefs %>
    <%= render partial: 'shared/chefsdisplay', locals: { chefs: @chefs } %>
    </div>

    <%# Loading indicator that will be displayed while loading more chefs %>
    <div id="loading" style="display: none;">
      <p>Loading more chefs...</p>
    </div>

  </main>
</body>
</html>
