.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  text-align: justify; /* Justifies text */
  margin-top: 50px;

}

.biography {
  max-width: 600px; /* Limit the width of the biography */
}

.profile-pic-one {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  position:  center;
  margin-left: 77px;
}

//  .profile-header {
//  }

.profile-actions {
  margin-top: 20px;

}

.profile-container-chef {
  display: flex;
  align-items: justify; /* Aligns items at the start of the cross axis */
  margin-top: 50px;
  padding: 0 20px; /* Adjust padding as needed */
}

.profile-content {
  max-width: 400px; /* Adjust the width as needed */
}

.booking-form-share {
  text-align: center;
  max-width: 400% !important;
}


.edit-profile-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fcfdff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 70px;
  right: 20px;
}

.edit-profile-button:hover {
  background-color: #e6e6e6 !important;
  /* Change to your desired hover background color */
}
